.body {
  border: 1px solid #000;
  width: 25%;
  font-family: "Roboto", sans-serif;
  border-radius: 12px;
  transition: 0.4s all ease-in-out;
}

.header {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: 1px solid #f4ecec;
  padding: 20px;
  background-color: #7a9d54;
}

.heading {
  font-size: 1.5rem;
}

.content {
  padding: 30px;
  background-color: #f0f7f4;
  height: 160px;
}

.desc {
  font-size: 0.9rem;
}

.button {
  border-top: 2px solid #f4ecec;
  padding: 15px;
  background-color: #cceebc;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: 0.4s all ease-in-out;
}

.btn {
  font-size: 1.1rem;
}

.body:hover {
  transform: scale(1.05);
  border: 2px solid black;
}

.button:hover {
  background-color: #35a29f;
  border-top: 2px solid black;
  cursor: pointer;
}
